.card-img-top {
}

#mainNav a {
  color: #9f1897;
}

@media (min-width:992px) {
  #mainNav .nav-link.active:hover {
    color: #25cbd3;
  }
}

#logo_concurso {
  max-width: 309px;
}

#mainNav.navbar-shrink {
  background: white;
}

body {
  font-family: Cabin,Helvetica Neue,Helvetica,Arial,sans-serif;
}

@media (min-width: 300px) {
  #mainNav {
    background-color: #ffffff;
  }
}

#mainNav {
  background-color: transparent;
}

#mainNav .navbar-toggler {
  color: #9f1897;
  border: 1px solid #9f1897;
}

#acerca-de {
  background-color: rgb(13,200,209);
}

#premios {
  background-color: rgb(148,59,139);
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

